.button {
  color: white;
  position: relative;
  background-color: blue;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 5px;
  border: none;
}
.length {
  color: rgb(246, 237, 237);
  font-weight: bold;
}

.shopping {
  background-color: rgb(231, 229, 229);
  width: 400px;
  height: 300px;
  overflow: auto;
  margin-top: 100px;
}
::-webkit-scrollbar {
  overflow: hidden;
}
